@import url("https://cdn.jsdelivr.net/gh/Joffrey117/Portfolio@a0c9bad87ccf903e39b795614d68d9ec48a31b35/styles-v7.css");

.project-media[data-static-project-image="0"] {
  --project-image: url("assets/Design sans titre-5.png") !important;
}

a[href="assets/portfolio-joffrey-achard.pdf"] {
  display: none !important;
}

[data-project-toggle="static-brief"] + .project-details > p span[data-lang] {
  font-size: 0;
}

[data-project-toggle="static-brief"] + .project-details > p span[data-lang]::after {
  font-size: 1rem;
}

[data-project-toggle="static-brief"] + .project-details > p span[data-lang="en"]::after {
  content: "My role was to turn the initial objective into a useful brief that the motion design project manager could work from.";
}

[data-project-toggle="static-brief"] + .project-details > p span[data-lang="fr"]::after {
  content: "Mon rôle consistait à transformer l'objectif initial en un brief utile et exploitable par le chef de projet motion design.";
}
